%h1 Contact Us
%p.italics Please keep in mind that our entire team, including web managers, are on the road from July 1st to July 20th, so our response may not be immediate. We will do our absolute best to get back to you in a timely fashion.

%br/
%br/
%p For all inquiries related to Wayfaring or Pink Guerrilla Productions:

=link_to 'pinkguerrilla@wayfaringlive.com', "mailto:pinkguerrilla@wayfaringlive.com"

%p If you’re having issues with your Wayfaringlive.com account:

=link_to 'admin@wayfaringlive.com', "mailto:admin@wayfaringlive.com"


%p Any other complaints or criticism:

=link_to 'eric.shinseki@hotmail.com', "mailto:eric.shinseki@hotmail.com"


%p For all press inquiries, contact Mike Liotta at:

=link_to 'Mike@truepublicrelations.com', "mailto:Mike@truepublicrelations.com"



%p For information regarding Zoomph, visit:
=link_to 'www.Zoomph.com', "http://www.Zoomph.com"
