%h1 Contact Us
%p.italics Please keep in mind that our entire team, including web managers, are on the road from July 1 to July 20th, so our response may not be immediate. We will do our absolute best to get back to you in a timely fashion.

%p For all inquiries related to Wayfaring or Pink Guerrilla Productions:

pinkguerrilla@wayfaringlive.com

%p If you’re having issues with your Wayfaringlive.com account:

admin@wayfaringlive.com

%p Any other complaints or criticism:

eric.shinseki@hotmail.com

%p For all publicity inquiries, contact Mike Liotta at:

Mike@truepublicrelations.com


%p For information regarding Zoomph, visit:

www.Zoomph.com