.row
  .col-lg-2
  .col-lg-8.opaque-body
    %h1 Not yet!

    %p Full length episodes of Wayfaring begin July 2nd. In the meantime, #{link_to 'follow on Twitter', 'https://twitter.com/WayfaringLive'} for updates, preview footage, and teasers