%h1 The Event
%p Wayfaring is a first-of-its-kind docuseries event that follows host Malcolm Freberg and a film crew on a road trip around the United States. Our team is set to leave LA on July 1st and will complete a twenty-day loop of the country, ending back in southern California on July 20th. 

%p During the trip, we’ll be producing a short episode every day -- meaning 20 episodes in 20 days this July, each available on the official Wayfaring site the day after it’s shot.

%p Herein lies the rub:

%p Our team doesn’t choose where we drive or what we do each day of the road trip; YOU do. Every major decision – what city to visit, what crazy stunt to attempt – is decided by a public vote via social media. For nearly three weeks this July, all Malcolm’s life choices will be dictated by you, the audience. 

%p Wayfaring isn’t a show, it’s an event. Like a ‘Choose Your Own Adventure’ book, for twenty days YOU get to choose how this story progresses. Malcolm will fill in the gaps with his own special brand of nonsense, but never before has an audience had complete control over a living, breathing protagonist before. 

%p This adventure isn’t just Malcolm’s – it’s yours as well.