.row
  .col-lg-2
  .col-lg-8.opaque-body.text-center
    .video-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "563", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/99389430", :webkitallowfullscreen => "", :width => "750"}
    %h1 Welcome to the Rumpus!
  .col-lg-2
    