.row
  .col-lg-2
  .col-lg-8.opaque-body.text-center
    .exclusive-content-upload
      %h1 Mini-teaser
      .video-container
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "//www.youtube.com/embed/QzZGzmZlNEA", :width => "640"}
    .exclusive-content-upload
      %h1 Welcome to the Rumpus!
      .video-container
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "563", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/99389430", :webkitallowfullscreen => "", :width => "750"}
    
  .col-lg-2
    