.row
  .col-lg-3
  .col-lg-6.opaque-body
    %h1 Available June 26th
    %p From June 11th to June 25th, we’re hosting a Kickstarter campaign to support Wayfaring this July. Through the rewards listed there, you are able to pre-purchase access to different features of the event, such as the ‘Exclusive Content’ page, the daily Private Polls, and the Live Q&A’s with Malcolm -- there are even a few elite rewards only available through Kickstarter until the 25th!

    %p On June 26th, you will be emailed an access code to Join the Rumpus. You’ll be sent instructions on how to register an account on Wayfaringlive.com, after which you can see the ‘Exclusive Content’ pages, and will receive alerts for the Private Polls and Live Q&A’s, as applicable.

    %p But if you miss the Kickstarter period, worry not: you’ll still be able to Join the Rumpus here after June 26th.
    .text-center
      =link_to "Go to the Kickstarter page!", "https://www.kickstarter.com/projects/1135751081/wayfaring", class: "btn btn-lg btn-main"
  .col-lg-6
    