.row.opaque-body
  .col-lg-8
    / %script{:charset => "utf-8", :src => "http://static.polldaddy.com/p/8132966.js", :type => "text/javascript"}
    / %noscript
    /   %a{:href => "http://polldaddy.com/poll/8132966/"} Where should we drive tomorrow?
    .video-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "//www.youtube.com/embed/Ds0gctCzo6Q", :width => "640"}
    %h1 #{link_to "Go to the Wayfaring Kickstarter Page", "https://www.kickstarter.com/projects/1135751081/wayfaring", class: "big-link"}
    / .wf-widget-wrap
    /   / Widget
    /   .zoomphWidget{"data-widgetId" => "BIEKqTAtVcKlTA0qbvfiENGe+pWnMb8/7H3WeHRHQa2UHyeTlqjaD1zQNit41uKiApsvig=="}
    /   / END Widget
    /   / Footer Widget
    /   .wf-footer
    /     .wf-logo
    /       %img{:src => "Images/wf-footer-logo.png"}/
    /     .wf-zoomph-logo
    /       %a{:href => "//zoomph.com/", :target => "_blank"}
    /       %img{:src => "Images/wf-footer-zoomph-logo.png"}/
    /   / End Footer Widget
    / 
    %h1 Latest Poll
    / - Zoomph Polling Widget -
    /%iframe{:frameBorder => "0", :scrolling => "no", :src => "https://admin.zoomph.com/Display/Widget/v2/Polling.aspx?feedId=9858", :style => "height:391px; width:339px; border:none;"}

    / - Zoomph Polling Widget -


    


    .wf-widget-wrap
      / Widget
      .zoomphWidget{"data-widgetId" => "tzAajxFOD0ShyQ+McdIIlZ9KXw4TgnAqkmN5rSeOWfxf3R8I4+HFnH0Y4FeO+pyyx05cGA=="}
      / END Widget
      / Footer Widget
      .wf-footer
        .wf-logo
          %img{:src => "//zoomphcontent.azurewebsites.net/clients/wayfaring/images/wf-footer-logo.png"}/
        .wf-zoomph-logo
          %a{:href => "//zoomph.com/", :target => "_blank"}
          %img{:src => "//zoomphcontent.azurewebsites.net/clients/wayfaring/images/wf-footer-zoomph-logo.png"}/
      / End Footer Widget

  .col-lg-4
    .twitter
      %a.twitter-timeline{"data-widget-id" => "471375252304326656", :href => "https://twitter.com/WayfaringLive"} Tweets by @WayfaringLive
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  