.row
  .col-lg-8
    %h1 Latest Episode

    %h1 Latest Poll
    / - Zoomph Polling Widget -

    / %iframe{frameborder: "0", scrolling: "no", src: "https://admin.zoomph.com/Display/Widget/v2/Polling.aspx?feedId=9282", style: "height:391px; width:339px; border:none;"}
    / Zooomph Social Hub -
    .wf-twitter-btn
      .sb-tweet join the Conversation
      %a.twitter-hashtag-button{"data-related" => "wayfaringlive,wayfaringlive", "data-size" => "large", :href => "https://twitter.com/intent/tweet?button_hashtag=wayfaringlive"} Tweet #wayfaringlive
      :javascript
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');.zoomphSocialHub{"data-socialhubid" => "tqwaSKSg/tIxwRiIaakOcMvc7uZGZs7ESr7BXjNYayqnjc3BOOnohfXwmgP5fvJ0HBr/OA=="}
    :javascript
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-37382045-3', 'wayfaringlive.com');
      ga('send', 'pageview');
    / End Zooomph Social Hub

  .col-lg-4
    .twitter
      %a.twitter-timeline{"data-widget-id" => "471375252304326656", :href => "https://twitter.com/WayfaringLive"} Tweets by @WayfaringLive
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  