.row.opaque-body
  .col-lg-8
    / %script{:charset => "utf-8", :src => "http://static.polldaddy.com/p/8132966.js", :type => "text/javascript"}
    / %noscript
    /   %a{:href => "http://polldaddy.com/poll/8132966/"} Where should we drive tomorrow?
    .video-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "//www.youtube.com/embed/Ds0gctCzo6Q", :width => "640"}
    %h1 #{link_to "First Exclusive Teaser Online Now! Click here for access", access_levels_path, class: "big-link"}

  .col-lg-4
    .twitter
      %a.twitter-timeline{"data-widget-id" => "471375252304326656", :href => "https://twitter.com/WayfaringLive"} Tweets by @WayfaringLive
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  