/ JS/CSS
%script{:src => "//display.zoomph.com/Scripts/jquery-1.7.1.min.js", :type => "text/javascript"}
%script{:src => "//display.zoomph.com/Bundles/socialHubLoader", :type => "text/javascript"}
.zoomphSocialHub{"data-socialHubId" => "araggZadcyqfe9TkNvODWUwnBG0SwcvUWfY32qBXEKXfKR+WorrwRNBZnzKySpsoVgSFOw=="}
