/ / JS/CSS
/ %script{:src => "//display.zoomph.com/Scripts/jquery-1.7.1.min.js", :type => "text/javascript"}
/ %script{:src => "//display.zoomph.com/Bundles/socialHubLoader", :type => "text/javascript"}
/ .zoomphSocialHub{"data-socialHubId" => "araggZadcyqfe9TkNvODWUwnBG0SwcvUWfY32qBXEKXfKR+WorrwRNBZnzKySpsoVgSFOw=="}
.container
  / Zooomph Social Hub -
  .wf-twitter-btn
    .sb-tweet join the Conversation
    %a.twitter-hashtag-button{"data-related" => "wayfaringlive,wayfaringlive", "data-size" => "large", :href => "https://twitter.com/intent/tweet?button_hashtag=wayfaringlive"} Tweet #wayfaringlive
    :javascript
      !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
  .zoomphSocialHub.opaque-body{"data-socialhubid" => "tqwaSKSg/tIxwRiIaakOcMvc7uZGZs7ESr7BXjNYayqnjc3BOOnohfXwmgP5fvJ0HBr/OA=="}