%h1 The Wayfaring Team
.row
  .col-lg-4
    =image_tag 'Malcolm.jpg', class: "team-image"
  .col-lg-8
    %h3 Malcolm Freberg
    %p He truly believes this entertainment stuff is only temporary; he’s convinced one day he’ll be the captain of his own pirate spaceship.
%br/
.row
  .col-lg-4
    =image_tag 'Gorilla.jpg', class: "team-image"
  .col-lg-8
    %h3 The Gorilla
    %p [No information available]
%br/
.row
  .col-lg-4
    =image_tag 'Keetin.jpg', class: "team-image"
  .col-lg-8
    %h3 Keetin Marchi
    %P Keetin is a freelance television producer and entertainment host from Chapel HIll, NC who loves nothing more than cuddling with her puppy Ella and watching Game of Thrones or Say Yes to the Dress. She's hoping none of the boys wake up in jail or a ditch. 
%br/
.row
  .col-lg-4
    =image_tag 'Anh.jpg', class: "team-image"
  .col-lg-8
    %h3 Anh Phan
    %P Anh is a television industry professional from Boston who likes to play dodgeball in his spare time. He sometimes get car sick and his ultimate goal on this adventure is to make it through all twenty days without vomiting on Malcolm. He will fail.
%br/
.row
  .col-lg-4
    =image_tag 'Dylan.jpg', class: "team-image"
  .col-lg-8
    %h3 Dylan Cashbaugh
    %p Dylan is a midwestern boy who moved to the big city to make pictures. Well... something like that. He currently produces, shoots, and directs for web, television, and film audiences while living in West Hollywood. Dylan looks forward to filming Anh vomiting on Malcolm.
%br/
.row
  .col-lg-4
    =image_tag 'Chirstina.jpg', class: "team-image"
  .col-lg-8
    %h3 Christina Matthews
    %p Christina has a television production background and a ton of travel experience. Her greatest joy in life comes from planning Wayfaring events that terrify the entire crew.
%br/
.row
  .col-lg-4
    =image_tag 'Glenn.jpg', class: "team-image"
  .col-lg-8
    %h3 Glenn Rodriguez
    %p Glenn Rodriguez is a film editor originally from the “Real” Jersey Shore. When he isn’t working, you can find him watching New Jersey Devils hockey and cheesy horror flicks.
%br/
.row
  .col-lg-4
    =image_tag 'Matt.jpg', class: "team-image"
  .col-lg-8
    %h3 Matt Parent
    %p The man behind the camera: climber, photographer, camera operator, lover, magician, and king of awesome moves on the dance floor. The ladies...oh, how they swoon.
%br/
.row
  .col-lg-4
    =image_tag 'Elisa.jpg', class: "team-image"
  .col-lg-8
    %h3 Elisa Masso
    %p Elisa is a barefoot, animal loving hippy thats constantly traveling the world, doing yoga, humanitarian photography, and feeding hungry babies. When she's not saving the world she can be found at her local dive bar in San Diego drinking Fireball and winning goldfish races.
%br/
.row
  .col-lg-4
    =image_tag 'Interns.jpg', class: "team-image"
  .col-lg-8
    %h3 The Interns:
    %h4 Jack Heise, Brian Joseff, Keith Moffat, Michael Parets, Colin Skelly
    %p They’re only smiling because they don’t yet know what they’re about to be put through...












